@using Microsoft.AspNetCore.Http
<form id="frmReport" method="post" action="#">
    <div class="card">
        <h6 class="card-header alert-primary" id="lblReport">
            Report
        </h6>
        <div class="card-datatable table-responsive">
            <table class="table table-striped table-bordered" id="datatable-adminreport" data-url="">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        LoadReport();
    });

    function LoadReport() {
        if ($.fn.DataTable.isDataTable('#datatable-adminreport')) {
            $('#datatable-adminreport').DataTable().destroy();
        }
        $('#datatable-adminreport tbody').empty();
        $('#datatable-adminreport thead').empty();

        var $table = $('#datatable-adminreport');
        $table.dataTable({
            iDisplayLength: 10,
            bAutoWidth: true,
            sAjaxSource: '@Url.Action("MarginSheetDownline", "RetailUserCommon")',
            cache: false,
            order: [[1, "asc"], [2, "asc"]],
            columns: [
                { data: "ID", title: "Id", visible: false } , { data: "RetailUserid", title: "User Detail" }, 
                { data: "OperatorName", title: "Operator Name" }, { data: "OperatorCircle", title: "Operator Circle", visible: false }, 
                { data: "MarginPercentUpto200", title: "Margin Percent UPTO 200 Full payment" }, { data: "FixMargin", title: "Margin Amount (201-4000 Full Payment)" },
                { data: "MarginPercent", title: "Margin Percent" },
                { data: "MaxMargin", title: "Max Margin" },
                { data: "PrepaidMarginPercent", title: "Prepaid Margin Percent" },
                { data: "Active", title: "Active" }
            ]
        });

        $('#lblReport').html('Downline Margin Sheet of @Context.Session.GetString("RetailerName")');
    }


</script>