<form id="frmReport" method="post" action="">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="label" for="CurrentPassword">Current Password</label>
                    <input type="password" autocomplete="off" class="form-control" id="CurrentPassword" placeholder="Current Password">
                </div>
                <div class="col-lg-2 form-group">
                    <label class="label" for="NewPassword">New Password</label>
                    <input type="password" autocomplete="off" class="form-control" id="NewPassword" placeholder="New Password">
                </div>
                <div class="col-lg-2 form-group">
                    <label class="label" for="ConfirmNewPassword">Confirm New Password</label>
                    <input type="password" autocomplete="off" class="form-control" id="ConfirmNewPassword" placeholder="Confirm New Password">
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="btn btn-outline-primary shadowed btn-block" onclick="UpdatePassword();">Change Password</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="label" for="CurrentPasswordPin">Password</label>
                    <input type="password" autocomplete="off" class="form-control" id="CurrentPasswordPin" placeholder="Current Password">
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="btn btn-outline-primary shadowed btn-block" onclick="UpdatePin();">Change Pin</button>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="btn btn-outline-primary shadowed btn-block" onclick="ResendPin();">Send Pin</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group" id="ActionMessage">

                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding-top: 10px;">
        <div class="card text-white bg-primary">
            <div class="card-header">Password Policy (पासवर्ड नीति)</div>
            <div class="card-body">
                <p class="card-text">Please use atleast 8 characters long password. Only use numbers, small & capital letters in password. (कृपया कम से कम 8 कैरेक्टर लंबे पासवर्ड का प्रयोग करें। पासवर्ड में केवल अंक, छोटे और बड़े अक्षरों का ही प्रयोग करें।)</p>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    function ValidInput() {
        if ($('#CurrentPassword').val() === '') {
            //
            $('#ActionMessage').html('<span class="text-danger">Current password required.</span>');
            $('#CurrentPassword').focus();
            return false;
        }

        if ($('#NewPassword').val() === '') {
            $('#ActionMessage').html('<span class="text-danger">New password required.</span>');
            $('#NewPassword').focus();
            return false;
        }

        if ($('#ConfirmNewPassword').val() === '') {
            $('#ActionMessage').html('<span class="text-danger">Confirm New password required.</span>');
            $('#ConfirmNewPassword').focus();
            return false;
        }

        if ($('#ConfirmNewPassword').val() !== $('#NewPassword').val()) {
            $('#ActionMessage').html('<span class="text-danger">New password and Confirm New password does not match.</span>');
            $('#ConfirmNewPassword').focus();
            return false;
        }

        let format = /[ `!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        if (!format.test($('#NewPassword').val())) {
            //console.log('test failed');
            $('#ActionMessage').html('<span class="text-danger">Atleast one special character is required in password.</span>');
            $('#NewPassword').focus();
            $('#NewPassword').val('');
            $('#ConfirmNewPassword').val('');
            return false;
        } else {
            //console.log('test pass');
        }

        let passq = /^(?:(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*)$/;
        if (!passq.test($('#NewPassword').val())) {
            //console.log('q test failed');
            $('#ActionMessage').html('<span class="text-danger">At least one upper case and one number is required in new password.</span>');
            $('#NewPassword').focus();
            $('#NewPassword').val('');
            $('#ConfirmNewPassword').val('');
            return false;
        } else {
            //console.log('q test pass');
        }

        if ($('#ConfirmNewPassword').val().length < 8 || $('#ConfirmNewPassword').val().length > 20) {
            Notify('Change Password', 'New password must be at least 8 characters long and maximum 20 characters long.', 'call-outline', 'text-danger');
            $('#NewPassword').focus();
            $('#NewPassword').val('');
            $('#ConfirmNewPassword').val('');
            return false;
        }

        return true;
    }

    function UpdatePassword() {
        if (ValidInput()) {
            $('#ActionMessage').html('Updating password ' + loaderImgInner);

            $.get("@Url.Action("UpdatePassword", "RetailUserCommon")?op=" + $('#CurrentPassword').val() + "&np=" + $('#NewPassword').val() + '&inputSource=w',
                function (data) {
                    if (data.indexOf('Errors:') > -1) {
                        $('#ActionMessage').html('<span class="text-danger">' + data + '</span>');
                    } else {
                        $('#ActionMessage').html('<span class="text-success">' + data + '</span>');
                        $('#CurrentPassword').val('');
                        $('#NewPassword').val('');
                        $('#ConfirmNewPassword').val('');
                    }
                });

        }
    }

    function ValidInputPin() {
        if ($('#CurrentPasswordPin').val() === '') {
            $('#ActionMessage').html('<span class="text-danger">Current password required.</span>');
            $('#CurrentPasswordPin').focus();
            return false;
        }
        
        return true;
    }

    function UpdatePin() {
        if (ValidInputPin()) {
            $('#ActionMessage').html('Updating pin ' + loaderImgInner);

            $.get("@Url.Action("UpdatePin", "RetailUserCommon")?op=" + $('#CurrentPasswordPin').val(),
                function (data) {
                    if (data.indexOf('Errors:') > -1) {
                        $('#ActionMessage').html('<span class="text-danger">' + data + '</span>');
                    } else {
                        $('#ActionMessage').html('<span class="text-success">' + data + '</span>');
                        $('#CurrentPasswordPin').val('');
                    }
                });

        }
    }

    function ResendPin() {
        $('#ActionMessage').html('Resending pin ' + loaderImgInner);

        $.get("@Url.Action("ResendPin", "RetailUserCommon")?op=" + $('#CurrentPasswordPin').val(),
        function (data) {
            if (data.indexOf('Errors:') > -1) {
                $('#ActionMessage').html('<span class="text-danger">' + data + '</span>');
            } else {
                $('#ActionMessage').html('<span class="text-success">' + data + '</span>');
                $('#CurrentPasswordPin').val('');
            }
        });
    }

</script>