@{
    Layout = "_LayoutBlank";
}

<!DOCTYPE html>

<html>
<head>
    <title>Terms & Condition</title>
</head>
<body>
<div>
   <p><strong><u>TERMS &amp; CONDITIONS - UTILITY SERVICES</u></strong></p>
   <p><strong>IMPORTANT NOTICE: PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE YOU CLICK ON &ldquo;I AGREE.&rdquo;</strong></p>
   <p>These Terms and Conditions ("Terms") constitute an electronic contract formed under the Information Technology Act, 2000, and the rules made thereunder, as well as the amended provisions pertaining to electronic documents/records in various statutes, as amended by the Information Technology Act, 2000. This document is published and shall be construed in accordance with the provisions of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, under the Information Technology Act, 2000, which require the publishing of a privacy policy for the collection, use, storage, and transfer of sensitive personal data or information.</p>
   <p>BY USING THE WEBSITE OR ACCESSING THE SERVICES, YOU INDICATE THAT YOU UNDERSTAND, AGREE, AND CONSENT TO THESE TERMS AND CONDITIONS. IF YOU DO NOT AGREE WITH THE TERMS OF THIS WEBSITE, PLEASE DO NOT USE THIS WEBSITE. BY CONTINUING TO USE THE SERVICES, YOU HEREBY PROVIDE YOUR UNCONDITIONAL CONSENT TO &ldquo;Saral Ecommerce Private Limited (SARAL).&rdquo; AS PROVIDED UNDER SECTION 43A AND SECTION 72A OF THE INFORMATION TECHNOLOGY ACT, 2000.</p>
   <ol>
   <li><strong>INTRODUCTION AND SCOPE OF THESE TERMS AND CONDITIONS</strong>
   <ol>
   <li>"SARAL" is a platform providing utility services to consumers through a network of agents. SARAL is a company incorporated under the Companies Act, 2013, with its registered office at PLOT No-49, Sec-B Near Phonix Mall, Kanpur Road, Yojna LKO, Lucknow, UP - 226012 (hereinafter referred to as the "<strong>Company/ Saral</strong>," which expression shall mean and include its successors and permitted assigns).</li>
   <li>SARAL provides various utility services including but not limited to bill payments, and other utility-related transactions (herein referred to as "Utility Services").</li>
   <li>The terms and conditions subject to which Utility Services are provided to the Consumers (as defined below) are mentioned herein, and the use of Utility Services by Consumers is subject to this Consumers&rsquo; acceptance of the following terms and conditions (as may be amended from time to time) ("Agreement" / "Terms of Use").</li>
   <li>These Terms, along with the Privacy Policy (as defined), constitute an agreement between Saral Ecommerce Private Limited "SARAL" and the retailers of SARAL <strong>("Retailer"/ Merchant</strong>), entitling such Retailers/ Merchants to provide the Utility Services (as defined herein) to the customers in India through the portal/website<strong>: www.saralesuvidha.com ("Terminal").</strong> These Terms are in addition to any other agreement that may have been executed between SARAL and such Retailers for the purpose of providing the Utility Services.</li>
   <li>You acknowledge that you propose to be engaged with SARAL as its Retailer to provide the Utility Services to customers in India and have commenced the log-in to the Terminal. However, please note that before you commence providing the Utility Services as a Retailer of SARAL, you are required to read and understand these Terms. Only if you agree to these Terms, you can proceed and continue to log in and provide the Utility Services as a Retailer of SARAL. By continuing to log in and access the Terminal and provide the Utility Services, it shall be deemed that you agree to be bound by these Terms. In case you do not agree to these Terms, you are required not to proceed with log-in and leave the Terminal immediately. Please note that if you do not agree to these Terms, you are not entitled to provide the Utility Services and be associated with SARAL as its Retailer.</li>
   <li>You agree and acknowledge that the access and use of the Terminal by You is voluntary and of your own accord, and your access and use of the Terminal shall be subject to the Applicable Laws (as defined).</li>
   <li>You acknowledge that, in respect of certain Utility Services, you shall not be entitled to deal in them unless your account has been approved by the respective Service Providers (as defined).</li>
   <li>The phrase 'to provide the Utility Services' or 'provisioning of the Utility Services' used in these terms shall be construed to mean 'onward provisioning, sale, distribution, and supply of Utility Services through the Terminal'.</li>
   <li>The terms and conditions specific to particular Utility Service(s) shall be applicable to you and SARAL when you opt for such Utility Service(s).</li>
   </ol>
   </li>
   </ol>
   <p>&nbsp;</p>
   <ol start="2">
   <li><strong>DEFINITIONS</strong></li>
   </ol>
   <p>The words and expressions beginning with capital letters in these Terms shall, unless the context otherwise requires, have the meanings ascribed to them herein:</p>
   <ol>
   <li><strong>Applicable Law:</strong> means any and all applicable laws, statutes, rules, regulations, directions, guidelines, ordinances, orders, policies, judgments, decrees, or other requirements or official directives of any Governmental, statutory and regulatory authorities related to the provision of Utility Services.</li>
   <li><strong>Consumers:</strong> means the end users approaching the Retailers/ Merchant for availing the Utility Services.</li>
   <li><strong>Retailer Point Location:</strong> means the shop or office premises owned or rented by the Retailer, to be used for the purpose of rendering Utility Services to the Consumers.</li>
   <li><strong>Privacy Policy:</strong> means the policy which is separately given on the Terminal.</li>
   <li><strong>Utility Services:</strong> means the following services, under the brand &ldquo;SARAL&rdquo; as made available to the Retailer for onward provisioning, sale, distribution, and supply through the terminal:</li>
   </ol>
   <p>&nbsp;&nbsp; 1) Utility bill payments.</p>
   <p>&nbsp;&nbsp; 2) Recharge services.</p>
   <p>&nbsp;&nbsp; 3) Other utility-related transactions as specified by SARAL from time to time.</p>
   <ol>
   <li><strong>Service Provider:</strong> means the entities engaged in the business of the provision of the Utility Services in respect of which SARAL has or may have agreements from time to time, authorizing SARAL for onward provisioning, sale, distribution, and supply of such Utility Services through the Retailers.</li>
   <li><strong>Transactions:</strong> mean the electronic transactions undertaken by you pertaining to onward provisioning, sale, distribution, and supply of Utility Services to the Consumers through the Terminal.</li>
   </ol>
   <ol start="3">
   <li><strong>MERCHANT&rsquo;S OBLIGATIONS</strong></li>
   <li>Authorization: By accepting these Terms and Conditions, you expressly authorize and give your consent to Saral to receive, hold, disburse, and settle funds on your behalf for Utility Services only. This authorization permits Saral to receive Customer Payment Amounts from Transactions into Saral's account for further processing solely related to Utility Services. Saral will process and transfer such payments received into a trade balance maintained by you and/or to the bank account designated by you at the time of registration, or any other account as instructed by you ("Merchant Account"). This authorization remains in effect until specifically terminated.</li>
   <li>By accepting these Terms and Conditions, you also expressly authorize Saral to hold, receive, and settle funds on your behalf for any other value-added services that you may opt for and instruct on the permitted use of the application. However, such authorization is limited to transactions explicitly related to Utility Services.</li>
   <li>Termination: SARAL reserves the right, at its sole and absolute discretion, to terminate your engagement as a Merchant of SARAL upon giving you 15 days' prior written notice, without assigning any reason. Similarly, you have the right to terminate your engagement as a Merchant of SARAL upon giving SARAL 30 days' prior written notice.</li>
   <li>SARAL may terminate your engagement as a Merchant of SARAL immediately, upon written notice, if there is (i) a material adverse change in the business environment, (ii) a change in Applicable Law, or (iii) a requirement or directive of the Service Provider, which prevents the continuation of the arrangement under these Terms, or if SARAL's license/permission/approval given by any statutory/regulatory authority, bank, or Service Provider is revoked or terminated for any reason.</li>
   <li>SARAL may terminate your engagement as a Merchant of SARAL immediately, upon written notice, if you cease or threaten to cease carrying on all or a substantial part of your business, become insolvent, make an assignment for the benefit of your creditors, have a receiver appointed for your business, or have an order for the winding up or liquidation of your business (other than for the purposes of amalgamation or reconstruction).</li>
   </ol>
   <ul>
   <li>SARAL may, at its sole discretion, temporarily deny, limit, or suspend your log-in and access to the Terminal for providing the Services, or take any other action it deems fit, including levying liquidated damages (as specified below), or pursuing any available remedies under Applicable Law. SARAL may also terminate your engagement as a Merchant of SARAL immediately in the following Events of Default: a) Material violations, breaches, defaults, or non-compliance of these Terms and/or Privacy Policy. b) Involvement in gross negligence, serious misdemeanors, criminal offences, or cybercrimes. c) Overcharging customers for Utility Services or collecting unauthorized fees/charges. d) Frequent customer complaints or misconduct. e) Failure to address customer complaints/disputes despite warnings by SARAL. f) Breach of Privacy Policy; g) Misuse of the Services or breach of trust; h) Unauthorized disclosure of SARAL's confidential information; i) Engagement in illegal activities or aiding such activities; j) Harming SARAL, its customers, suppliers, or third parties in any way.</li>
   </ul>
   <ol>
   <li><strong>Effects of Termination:</strong> Termination of your engagement as a Merchant with SARAL, for any reason, shall have the following effects and consequences:
   <ol>
   <li>You must cease representing SARAL in your dealings with third parties.</li>
   <li>All rights granted to you or SARAL under these Terms terminate, and your log-in and access to the Terminal are revoked.</li>
   <li>You must promptly return all assets, inventories, materials, instruction books, manuals, and other provided items to SARAL in good condition.</li>
   <li>You are not entitled to claim any compensation for termination.</li>
   <li>Termination does not affect any accrued rights or obligations under these Terms.</li>
   <li>SARAL retains the right to use information supplied by you or collected during your use of the Terminal and provision of the Services for Utility Services purposes only.</li>
   </ol>
   </li>
   <li><strong>Liquidated Damages, Fines, and Penalties:</strong>
   <ol>
   <li>In the event of an Event of Default related to Utility Services, SARAL may impose liquidated damages per instance. You agree to pay these damages on demand without contest.</li>
   <li>You are liable to pay and indemnify SARAL for any fines or penalties imposed by statutory/regulatory/governmental authorities, RBI, or courts due to your acts or omissions while providing the Utility Services. SARAL may, at its discretion, set off/adjust such fines/penalties from any payments owed to you.</li>
   <li>Explanation: For the purposes of this clause, "you" shall also include your employees, officers, agents, representatives, successors, and assigns.</li>
   </ol>
   </li>
   </ol>
   <p>&nbsp;</p>
   <ol start="5">
   <li><strong>LIMITATION OF LIABILITY: </strong>SARAL, including its officers, directors, shareholders, employees, sub-contractors, vendors, suppliers, business associates, parent companies, sister companies, subsidiaries, and other affiliates, will not be liable, to the maximum extent permitted by applicable law, for any direct, indirect, incidental, or consequential damages, or any other damages and losses (including loss of profit, loss of data, and work stoppage), costs, expenses, and payments, regardless of the alleged liability or form of action, including negligence, intellectual property infringement, product liability, and strict liability. This applies to any damage that may result from the use of the Terminal or the inability to access the Terminal and provision of the Utility Services, or from any failure, error, or downtime in the function of the Utility Services, or from any fault or error made by SARAL's staff, or from your reliance on content delivered through the Utility Services. SARAL's liability will not exceed the total cost paid by the customer under the disputed transaction. Your sole remedy, in any event, will be limited to the correction of such errors as deemed fit by SARAL at its sole discretion.</li>
   <li><strong>DISCLAIMER OF WARRANTIES:</strong>
   <ol>
   <li>Except as expressly set forth in these terms, Saral expressly disclaims any other warranty with respect to the use or provisioning of the Utility Services or any content or information delivered through the Utility Services to you or the customer. The Utility Services are provided without any express or implied guarantee or assurance of quality or reliability. Saral disclaims all express and implied warranties with regard to the Utility Services.</li>
   <li>Saral does not warrant or guarantee that the Utility Services will operate in an uninterrupted, timely, secure, or error-free manner, or that the Utility Services will always be available or free from errors or unauthorized access.</li>
   <li>Saral does not warrant or guarantee that the Utility Services will meet your specific needs. Saral does not warrant that the content provided will be legal, non-infringing, or free from objectionable materials.</li>
   <li>Saral does not warranty or make representations regarding the accuracy and veracity of the information provided through the Utility Services.</li>
   <li>The Utility Services and content are not intended to constitute or form the basis of any advice, and Saral does not accept liability for any claim or loss arising from any advice given, decisions made, or transactions made in reliance on the Utility Services or content.</li>
   <li>Saral cannot guarantee that the Utility Services and content will be free from viruses or other code that may have contaminating or destructive elements.</li>
   <li>Saral may use information supplied by you during the course of accessing the terminal and providing the Utility Services, subject to the Privacy Policy.</li>
   <li>You understand and agree that the use of the Terminal and providing the Utility Services is entirely at your own risk.</li>
   </ol>
   </li>
   </ol>
   <p>&nbsp;</p>
   <ol start="7">
   <li><strong>CHARGEBACKS RELATED TO UTILITY SERVICES</strong></li>
   </ol>
   <p>&nbsp;</p>
   <ol>
   <li>SARAL shall not be held liable for any chargebacks related to Utility Services provided by the Merchant. In the event of a chargeback initiated by a customer for Utility Services, the Merchant shall bear full responsibility for resolving the dispute and reimbursing SARAL for any associated costs, including but not limited to chargeback fees, administrative expenses, and any refunded amounts.</li>
   <li>Merchant agrees to promptly investigate and respond to any chargeback notifications received from SARAL or the payment gateway provider related to Utility Services transactions. The Merchant shall provide all necessary documentation and evidence to support the legitimacy of the transaction in question.</li>
   <li>The Merchant indemnifies SARAL against any losses, damages, or liabilities incurred due to chargebacks related to Utility Services transactions, including any fines, penalties, or fees imposed by payment networks, banks, or regulatory authorities. The Merchant agrees to reimburse SARAL for any such losses upon demand.</li>
   <li>Merchant shall promptly notify SARAL of any chargebacks related to Utility Services transactions and shall cooperate fully in the resolution process. Failure to notify SARAL in a timely manner may result in additional penalties or fees for which the Merchant shall be responsible.</li>
   </ol>
   <p>&nbsp;</p>
   <ol start="8">
   <li><strong>INDEMNIFICATION:</strong> You agree to indemnify and hold SARAL, its licensors, business partners, contractors, sub-contractors, vendors, suppliers, merchants, parent companies, sister companies, subsidiaries, and other affiliates of SARAL, and their respective officers, directors, shareholders, and employees, indemnified and harmless from any claim, liabilities, damages, costs, losses, demands, expenses, chargebacks, charges, and penalties, including reasonable attorneys' fees, made by any third party in connection with or arising out of provisioning of the Utility Services, acts of commission or omission amounting to non-adherence to these Terms, breaches of Applicable Laws, fraudulent activities, illegal practices, negligence, or mischief on your part, infringement of intellectual property rights, or unauthorized use of the Utility Services/devices supplied by SARAL.</li>
   <li><strong>CONFIDENTIALITY:</strong> You undertake that you shall treat as confidential all Confidential Information of SARAL and shall not disclose it. For the avoidance of doubt, "Confidential Information" shall include (without limitation) (a) various types of information and other information of a similar nature, whether or not set forth in writing, such as discoveries, ideas, concepts, software, designs, pricing policies, and Customer information, and (b) any information disclosed to SARAL by any third party under obligations of confidentiality to SARAL.</li>
   <li><strong>AMENDMENTS TO THE TERMS</strong>: SARAL reserves the right to amend and modify these Terms and the Privacy Policy from time to time without prior notice to you. Your continued access to the Terminal and provision of the Utility Services will indicate your acceptance of the amended Terms. If you disagree with any of the amended Terms, you must discontinue your use of the Terminal and provision of the Utility Services. SARAL recommends that you periodically review these Terms as they may change over time.</li>
   <li><strong>ENTIRE AGREEMENT:</strong> These Terms, including the Privacy Policy, constitute the entire agreement between you and SARAL governing your access to the Terminal and provision of the Utility Services. In cases where other agreements have been executed between SARAL and Retailers for the provision of Services, the provisions of such agreements shall apply in addition to these Terms. However, in the event of any inconsistency between the provisions of these Terms and such agreements, the provisions of these Terms shall prevail to the extent of the inconsistency.</li>
   <li><strong>GOVERNING LAW AND JURISDICTION:</strong> These Terms shall be governed by the laws of India, and any disputes or matters arising from these Terms and/or the Utility Services shall be subject to the exclusive jurisdiction of the courts in Lucknow. In the case of a dispute, it shall be referred to Mediation as amended. The venue for mediation shall be Lucknow, and proceedings shall be conducted in English. Subject to the provisions above, the courts having jurisdiction shall exclusively be the courts in Lucknow, India.</li>
   <li><strong>WAIVER AND SEVERABILITY OF TERMS: </strong>Failure or delay by SARAL to enforce any provision of these Terms at any time shall not be construed as a waiver of SARAL's rights hereunder, nor shall it affect the validity of these Terms or prejudice SARAL's rights to take subsequent action. No remedy provided by these Terms is intended to be exclusive, and each remedy shall be cumulative and in addition to any other remedies available under law. If any provision (or part thereof) of these Terms is found to violate any Applicable Law, such provision (or part thereof) shall be deemed deleted from these Terms to the extent of such violation. The remainder of these Terms shall remain in full force and effect as if the provision (or part thereof) had not originally been included in these Terms. SARAL shall have the discretion to provide an acceptable alternative provision in place of the deleted provision, which shall be binding on you without any contest or objection.</li>
   <li><strong>SURVIVAL:</strong> You agree and confirm that the indemnities, confidentiality obligations, limitation of liability, disclaimer of warranties, and dispute resolution mechanism shall remain in effect beyond the expiration of these Terms.</li>
   <li><strong>ASSIGNMENT:</strong> You shall not assign or transfer any of your rights, benefits, or interests under these Terms without prior written approval from SARAL. However, SARAL reserves the right to assign these Terms to its affiliates or a Bank without requiring your consent. In the event of such an assignment, the Bank may, at its sole discretion, terminate this Agreement and cease any payments to you, if applicable.</li>
   <li><strong>GRIEVANCE REDRESSAL AND GRIEVANCE OFFICER: </strong>In accordance with the Information Technology Act, 2000, and the rules made thereunder, you can address grievances by emailing the Grievance Officer at <strong>anuraggupta2204@gmail.com</strong>. You also agree to inform Customers of the provisions of the Customer Grievance Policy or any updates communicated by SARAL from time to time.</li>
   <li><strong>DATA PROTECTION AND PRIVACY:</strong> SARAL is committed to protecting your personal information and ensuring your privacy. By using our services, you consent to the collection, processing, and storage of your data as described in our Privacy Policy. We may share your information with third parties as necessary to provide our services or as required by law. You hereby agree and permit Saral to use personal information (including sensitive personal data) and to share the same with statutory/regulatory/law enforcement authorities and payment networks, for monitoring and/or reporting purposes.</li>
   <li><strong>COMMUNICATION WITH SARAL:</strong> You shall communicate with SARAL by sending written correspondence via registered post or courier to its registered office.</li>
   </ol>
   <p><strong>Note: These terms and conditions are specific to Utility Services provided by SARAL. Any breach of these terms and conditions may lead to immediate termination of engagement and legal action as per the applicable laws. By continuing to use the services, you acknowledge and agree to abide by these terms and conditions.</strong></p>
   <p>&nbsp;</p>
   <p><strong>I hereby agree to the terms and conditions stated above:</strong></p>   
</div>
</body>
</html>