@{
    Layout = "_LayoutBillPay";
}

<section class="container">
    <div class="bg-white shadow-md rounded p-4">
        <div class="row g-4">

            <!-- Water Bill
            ============================================= -->
            <div class="col-lg-4 col-xxl-5">
                <h2 class="text-4 mb-3">Pay Your Water Bill</h2>
                <form id="gasBill" method="post">
                    <div class="mb-3">
                        <select class="form-select" id="operator" required="">
                            <option value="">Select Your Operator</option>
                            <option>Jabalpur Municipal Corporation - Water</option>
                            <option>Municipal Corporation of Faridabad -Water</option>
                            <option>Delhi Jal Board (DJB)</option>
                            <option>Indore Municipal Corporation - Water</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" data-bv-field="number" id="consumerNumber" required placeholder="Enter Consumer Number">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">&#8377;</span>
                        <input class="form-control" id="amount" placeholder="Enter Amount" required type="text">
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Continue</button>
                    </div>
                </form>
            </div>
            <!-- Water Bill end -->
            <!-- Slideshow
            ============================================= -->
            <div class="col-lg-8 col-xxl-7">
                <div class="owl-carousel owl-theme single-slider" data-animateout="fadeOut" data-animatein="fadeIn" data-autoplay="true" data-loop="true" data-autoheight="true" data-nav="true" data-items="1">
                    <div class="item"><a href="#"><img class="img-fluid" src="~/images/slider/banner-10.jpg" alt="banner 10" /></a></div>
                    <div class="item"><a href="#"><img class="img-fluid" src="~/images/slider/banner-7.jpg" alt="banner 7" /></a></div>
                    <div class="item"><a href="#"><img class="img-fluid" src="~/images/slider/banner-8.jpg" alt="banner 8" /></a></div>
                </div>
            </div>
            <!-- Slideshow end -->

        </div>
    </div>
</section>

<script type="text/javascript">
$('#water').addClass('active');
</script>
