/SaralESuvidha/bin/*
/SaralESuvidha/obj/*
/SaralESuvidha/wwwroot/FileData/*.xlsx
/.vs/*
UPPCLLibrary/obj/*
SaralESuvidha/obj/*
.idea/
SaralESuvidha/appsettings.json
SaralESuvidha/bin/*
/SaralESuvidha/wwwroot/KYCDocFiles/*
/UPPCLLibrary/.vs/*
/UPPCLLibrary/StatusCheck/bin/*
/UPPCLLibrary/StatusCheck/obj/*
/UPPCLLibrary/bin/*
/ForceFail/bin/*
/ForceFail/obj/*
/SaralKYCDocManager/.vs/*
/SaralKYCDocManager/WebApplication1/bin/*
/SaralKYCDocManager/WebApplication1/obj/*
/SaralKYCDocManager/WebApplication1/KYCDocFiles/*
/.cr/personal/FavoritesList
/ForceFail/ForceFail/.vs/*
/ForceFail/ForceFail/bin/*
/ForceFail/ForceFail/obj/*
/SaralKYCDocManager/.cr/personal/FavoritesList
/SaralKYCDocManager/WebApplication1/CashFlowFiles/*
/SaralESuvidhaNew/SaralESuvidha/.vs/*
/SaralESuvidhaNew/SaralESuvidha/bin/UPPCLLibrary.deps.json
/SaralESuvidhaNew/SaralESuvidha/bin/UPPCLLibrary.dll
/SaralESuvidhaNew/SaralESuvidha/bin/UPPCLLibrary.pdb
/SaralESuvidhaNew/SaralESuvidha/obj/*
/SaralESuvidhaNew/SaralESuvidha/wwwroot/*
/SaralESuvidhaNew/UPPCLLibrary/.vs/*
/SaralESuvidhaNew/UPPCLLibrary/bin/*
/SaralESuvidhaNew/UPPCLLibrary/obj/*
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.AssemblyInfoInputs.cache
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.GeneratedMSBuildEditorConfig.editorconfig
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.GlobalUsings.g.cs
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.assets.cache
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.csproj.AssemblyReference.cache
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.csproj.CoreCompileInputs.cache
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.csproj.FileListAbsolute.txt
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.dll
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/UPPCLLibrary.pdb
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/ref/UPPCLLibrary.dll
/SaralESuvidhaNew/UPPCLLibrary/obj/Debug/net6.0-windows/refint/UPPCLLibrary.dll
/SaralESuvidhaNew/UPPCLLibrary/obj/UPPCLLibrary.csproj.nuget.dgspec.json
/SaralESuvidhaNew/UPPCLLibrary/obj/UPPCLLibrary.csproj.nuget.g.props
/SaralESuvidhaNew/UPPCLLibrary/obj/UPPCLLibrary.csproj.nuget.g.targets
/SaralESuvidhaNew/UPPCLLibrary/obj/project.assets.json
/SaralESuvidhaNew/UPPCLLibrary/obj/project.nuget.cache
