/SaralESuvidha/bin/*
/SaralESuvidha/obj/*
/SaralESuvidha/wwwroot/FileData/*.xlsx
/.vs/*
UPPCLLibrary/obj/*
SaralESuvidha/obj/*
.idea/
SaralESuvidha/appsettings.json
SaralESuvidha/bin/*
/SaralESuvidha/wwwroot/KYCDocFiles/*
/UPPCLLibrary/.vs/*
/UPPCLLibrary/StatusCheck/bin/*
/UPPCLLibrary/StatusCheck/obj/*
/UPPCLLibrary/bin/*
/ForceFail/bin/*
/ForceFail/obj/*
/SaralKYCDocManager/.vs/*
/SaralKYCDocManager/WebApplication1/bin/*
/SaralKYCDocManager/WebApplication1/obj/*
/SaralKYCDocManager/WebApplication1/KYCDocFiles/*
/.cr/personal/FavoritesList
/ForceFail/ForceFail/.vs/*
/ForceFail/ForceFail/bin/*
/ForceFail/ForceFail/obj/*
/SaralKYCDocManager/.cr/personal/FavoritesList
/SaralKYCDocManager/WebApplication1/CashFlowFiles/*
