/.vs/SaralESuvidha/DesignTimeBuild/*.v2
/.vs/SaralESuvidha/FileContentIndex/*.vsidx
/.vs/SaralESuvidha/config/*.config
/.vs/SaralESuvidha/v17/*.suo
/.vs/SaralESuvidha/v17/*.json
/SaralESuvidha/bin/Debug/net6.0/*.dll
/SaralESuvidha/bin/Debug/net6.0/*.json
/SaralESuvidha/bin/Debug/net6.0/*.exe
/SaralESuvidha/bin/Debug/net6.0/*.pdb
/SaralESuvidha/bin/Debug/net6.0/cs/*.dll
/SaralESuvidha/bin/Debug/net6.0/de/*.dll
/SaralESuvidha/bin/Debug/net6.0/es/*.dll
/SaralESuvidha/bin/Debug/net6.0/fr/*.dll
/SaralESuvidha/bin/Debug/net6.0/it/*.dll
/SaralESuvidha/bin/Debug/net6.0/ja/*.dll
/SaralESuvidha/bin/Debug/net6.0/ko/*.dll
/SaralESuvidha/bin/Debug/net6.0/pl/*.dll
/SaralESuvidha/bin/Debug/net6.0/pt-BR/*.dll
/SaralESuvidha/bin/Debug/net6.0/ru/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/browser/lib/net6.0/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/win-arm64/native/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/win-x64/native/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/win-x86/native/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/*.dll
/SaralESuvidha/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/*.dll
/SaralESuvidha/bin/Debug/net6.0/tr/*.dll
/SaralESuvidha/bin/Debug/net6.0/*.config
/SaralESuvidha/bin/Debug/net6.0/zh-Hans/*.dll
/SaralESuvidha/bin/Debug/net6.0/zh-Hant/*.dll
/SaralESuvidha/obj/Debug/net6.0/*.cs
/SaralESuvidha/obj/Debug/net6.0/*.json
/SaralESuvidha/obj/Debug/net6.0/*.Up2Date
/SaralESuvidha/obj/Debug/net6.0/*.cache
/SaralESuvidha/obj/Debug/net6.0/*.editorconfig
/SaralESuvidha/obj/Debug/net6.0/*.BuildWithSkipAnalyzers
/SaralESuvidha/obj/Debug/net6.0/*.txt
/SaralESuvidha/obj/Debug/net6.0/*.dll
/SaralESuvidha/obj/Debug/net6.0/*.pdb
/SaralESuvidha/obj/Debug/net6.0/*.exe
/SaralESuvidha/obj/Debug/net6.0/ref/*.dll
/SaralESuvidha/obj/Debug/net6.0/refint/*.dll
/SaralESuvidha/obj/Debug/net6.0/staticwebassets/*.props
/SaralESuvidha/obj/*.json
/SaralESuvidha/obj/*.props
/SaralESuvidha/obj/*.targets
/SaralESuvidha/obj/*.cache
