body {
}

.pam-fa-icon {
    width: 60px;
    height: 60px;
    font-size: 28px;
    position: relative;
    background: transparent;
    padding: 1px;
    border: none !important;
    color: #26B4FF;
}

.pam-info {
    color: #26b4ff;
}

.pam-error {
    color: red;
}

.hide {
    display: none;
}

.editDialog {
    max-width: 45rem !important;
}

.moredata {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Chrome, Safari, Edge, Opera Hide number scroll bar*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox Hide number scroll bar*/
input[type=number] {
    -moz-appearance: textfield;
}

.small_font {
    font-size: .75rem;
}

.part1 { }

.part2 {}

.linear-datatable-icon {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
}