<form id="frmLogin" name="frmLogin" method="post" action="#">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="number" class="form-control form-control-sm required" id="mobileno" required placeholder="Mobile">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="password" class="form-control form-control-sm" id="password" required placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <span id="InfoDetail" name="InfoDetail"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group" id="ActionButton" name="ActionButton">
                    <button type="button" class="btn btn-primary btn-sm" onclick="Login();">Login</button> <span id="InfoDetail" name="InfoDetail"></span>
                </div>
            </div>
            
        </div>
    </div>


</form>