@model SaralESuvidha.ViewModel.RetailUserViewModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_LayoutFR";
    ViewData["title"] = "Fund Request";
}

<div id="contentContainer">
    <p>Loading content...</p>
</div>