@{
    ViewData["Title"] = "Home Page";
}

<div class="theme-bg-white">

    <!-- Block -->
    <div class="landing-block pb-5">
        <div class="container px-3">

            <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
                <div class="display-3 text-primary mb-4">
                    <i class="lnr lnr-rocket"></i>
                </div>
                <h1 class="display-4 font-secondary font-weight-semibold mb-5">
                    Ultimate Tool for Retailers & Distributors
                </h1>
                <div class="text-muted">
                    <strong>SARAL ETop</strong> offers prepaid mobiles recharge services, DTH recharge services, and data cards recharge services along with Money Transfer, AEPS & Travel. A large population in India is still not a part of digital economy and banking system.
                    Digital literacy is far from 100% in India and a major chunk of the population is still not self-serviced for basic banking and financial needs.
                    Lack of ATMs and bank branch in rural and semi urban areas is still a concern which hampers financial inclusion. We are trying to bridge this digital divide across urban and rural areas and to offer digital financial and non-financial services to masses via assisted B2B & B2C agent outlets.
                </div>
            </div>

        </div>
    </div>
    <!-- / Block -->

    <div class="landing-separator-stripes my-4"></div>

</div>

<!-- Block -->
<div id="features" class="">
    <div class="container px-3">

        <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
            <div class="text-lighter text-tiny font-weight-bold mb-3">FEATURES</div>
            <h1 class="display-4 font-secondary font-weight-semibold mb-4">
                Everything That You Need in One App
            </h1>
            <div class="lead text-muted mb-5">
                Money Transfer | AEPS | Prepaid Mobile Recharge | Postpaid Mobile Bill Payment | Travel | BBPS Payment Service
            </div>
        </div>

    </div>
</div>
<!-- / Block -->

<!-- Block -->
<div class="container px-3">

    <div class="text-center text-lighter text-tiny font-weight-bold mb-3">INSIGHTS</div>
    <h1 class="display-4 font-secondary text-center font-weight-semibold">
        How It Works
    </h1>

    <hr class="landing-separator border-success mx-auto mt-5 mb-4">

    <div class="row text-center">
        <div class="col-md-4 my-4">
            <div class="text-success mx-auto mb-4">
                <span class="ui-icon font-weight-bolder">
                    <i class="ion ion-md-aperture"></i>
                </span>
            </div>
            <h5>Signup For Account</h5>
            <div class="text-muted small">
                Signup and complete your KYC
            </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="text-success mx-auto mb-4">
                <span class="ui-icon font-weight-bolder">
                    <i class="ion ion-md-brush"></i>
                </span>
            </div>
            <h5>Recharge Your Retailer Account</h5>
            <div class="text-muted small">
                Transfer fund to your account
            </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="text-success mx-auto mb-4">
                <span class="ui-icon font-weight-bolder">
                    <i class="ion ion-md-cloud-upload"></i>
                </span>
            </div>
            <h5>Start Doing Business</h5>
            <div class="text-muted small">
                Start recharging, money transfer, bill payments
            </div>
        </div>
    </div>


</div>
<!-- / Block -->

<!-- Block -->
<div id="subscribe" class="bg-secondary text-white py-5">
    <div class="container px-3">
        <div class="row align-items-center">

            <div class="font-secondary col-md-5 col-lg-4 text-xlarge font-weight-light">
                Join Our Newsletter
            </div>

            <div class="col-md-7 col-lg-8 mt-3 mt-md-0">
                <div class="input-group">
                    <input type="email" class="form-control form-control-inverted form-control-lg bg-lighter border-0 px-3" placeholder="E-mail">
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-lg">Get Started</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- / Block -->
