@{
    Layout = "_LayoutBlank";
}
<!DOCTYPE html>

<html lang="en" class="light-style">

<head>
    <title>SaralESuvidha</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/uikit.css">

    <!-- Load polyfills -->
    <script src="~/assets/vendor/js/polyfills.js"></script>
    <script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

    <script src="~/assets/vendor/js/material-ripple.js"></script>
    <script src="~/assets/vendor/js/layout-helpers.js"></script>

    <!-- Theme settings -->
    <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
    <script src="~/assets/vendor/js/theme-settings.js"></script>


    <!-- Core scripts -->
    <script src="~/assets/vendor/js/pace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/authentication.css">
</head>

<body>
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>

    <!-- Content -->

    <div class="authentication-wrapper authentication-1 px-4">
        <div class="authentication-inner py-5">

            <!-- Logo -->
            <div class="d-flex justify-content-center align-items-center">
                <h3>E-SUVIDHA</h3>
            </div>
            <!-- / Logo -->
            <!-- Form -->
            <form class="my-5">
                <div class="form-group">
                    <div class="" name="ActionMessage" id="ActionMessage"></div>
                </div>
                <div class="form-group">
                    <label class="form-label">Login Id</label>
                    <input type="text" class="form-control" id="mobileno" name="mobileno">
                </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-between align-items-end">
                        <div>Password</div>
                        <a href="javascript:void(0)" class="d-block small">Forgot password?</a>
                    </label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="d-flex justify-content-between align-items-center m-0">
                    <label class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">Remember me</span>
                    </label>
                    <button type="button" class="btn btn-primary" onclick="javascript: Login();">Sign In</button>
                </div>
            </form>
            <!-- / Form -->

            <div class="text-center text-muted">
                Don't have an account yet? <a href="javascript:void(0)">Sign Up</a>
            </div>

        </div>
    </div>

    <!-- / Content -->
    <!-- Core scripts -->
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/js/sidenav.js"></script>

    <!-- Libs -->
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script type="text/javascript">
        function ValidInput() {
            if ($('#mobileno').val() === '') {
                $('#ActionMessage').html('<span class="">Mobile number required.</span>');
                return false;
            }

            if ($('#password').val() === '') {
                $('#ActionMessage').html('<span class="">Password required.</span>');
                return false;
            }

            return true;
        }

        function Login() {
            if(ValidInput()){
                $.get("@Url.Action("OfficeLoginResult", "Home")?m=" + $('#mobileno').val() + "&p=" + $('#password').val(),
                    function(data) {
                        if (data.indexOf('Errors:') > -1) {
                            $('#ActionMessage').html('<span class="">' + data + '</span>');
                        } else {
                            //success
                            $('#ActionMessage').html('<span class="">' + data + '</span>');
                            if(data.indexOf('cs')>0){
                                window.location.href = "/CustomerSupport/Index";
                            }

                            if(data.indexOf('ad')>0){
                                window.location.href = "/SysAdmin/Index";
                            }
                            if(data.indexOf('sadm')>0){
                                 window.location.href = "/SysAdmin/Index";
                            }
                        }
                    
                    });
            }
        }
    </script>

</body>

</html>