@model SaralESuvidha.ViewModel.RetailUserViewModel;
@{
    Layout = "_LayoutDistributor";
    ViewData["title"] = "Update Retailer";
}


<div class="container shadow p-3 mb-5 bg-white rounded">
    <h3 class="text-center">Update Retailer Details</h3>
    <form class="form-horizontal" id="frmMain" name="frmMain" asp-action="UpdateRetailerInfo" asp-controller="Distributor" enctype="multipart/form-data">
        <div class="form-row d-none">
            <input asp-for="Id" type="text" class="form-control" id="id">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="form-label" for="firstName">First Name</label> <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="First Name" readOnly>
            </div>

            <div class="form-group col-md-4">
                <label class="form-label" for="middleName">Middle Name</label> <span asp-validation-for="MiddleName" class="text-danger"></span>
                <input asp-for="MiddleName" type="text" class="form-control" id="middleName" placeholder="Middle Name" readOnly>
            </div>

            <div class="form-group col-md-4">
                <label class="form-label" for="lastName">Last Name</label> <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last Name" readOnly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="form-label" for="firstName">Gender</label>
                <select asp-for="Gender" class="form-control" data-style="btn-default" id="gender" readOnly>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Transgender</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="DateOfBirth" class="form-label"></label> <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                <input asp-for="DateOfBirth" type="date" class="form-control" id="dob" readOnly>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Mobile" class="form-label"></label> <span asp-validation-for="Mobile" class="text-danger"></span>
                <input asp-for="Mobile" type="number" autocomplete="off" class="form-control" readOnly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="StateName" class="form-label"></label>  <span asp-validation-for="StateName" class="text-danger"></span>
                <select asp-for="StateName" class="form-control" onblur="javascript: LoadCityDdl();" readOnly></select>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="City" class="form-label"></label> <span asp-validation-for="City" class="text-danger"></span>
                <select asp-for="City" class="form-control" readOnly></select>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="PinCode" class="form-label"></label> <span asp-validation-for="PinCode" class="text-danger"></span>
                <input asp-for="PinCode" type="number" autocomplete="off" class="form-control" readOnly>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ParmanentAddress" class="form-label"></label> <span asp-validation-for="ParmanentAddress" class="text-danger"></span>
            <textarea asp-for="ParmanentAddress" rows="2" autocomplete="off" class="form-control" id="parmanentAddress" readOnly></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="form-label"></label> <span asp-validation-for="Address" class="text-danger"></span>
            <textarea asp-for="Address" rows="2" autocomplete="off" class="form-control" readOnly></textarea>
        </div>
        <div class="form-group">
            <label asp-for="CounterLocation" class="form-label"></label> <span asp-validation-for="CounterLocation" class="text-danger"></span>
            <textarea asp-for="CounterLocation" rows="2" autocomplete="off" class="form-control" readOnly></textarea>
        </div>
        <div class="form-group">
            <label class="form-label text-danger">Comment added by Admin</label>
            <textarea asp-for="FailureReason" rows="2" autocomplete="off" class="form-control" readOnly></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="form-label">Photo</label>
                    <div class="custom-file">
                        <input type=file name="photo" id="photo" class="custom-file-input" asp-for="Photo" accept="image/*" >
                        <label id="photolable" class="custom-file-label" asp-for="Photo"></label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="form-label">Agreement</label>
                    <div class="custom-file">
                        <input type=file name="agreement" id="agreement" class="custom-file-input" asp-for="Agreement" accept="application/pdf" >
                        <label id="agreementlable" class="custom-file-label" asp-for="Agreement"></label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label">Affidavit</label>
                <div class="custom-file">
                    <input type=file name="affidavit" id="affidavit" class="custom-file-input" asp-for="Affidavit" accept="application/pdf" >
                    <label id="affidavitlable" class="custom-file-label" asp-for="Affidavit"></label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="form-label">Police Verification</label>
                    <div class="custom-file">
                        <input type=file name="policeverification" id="policeverification" class="custom-file-input" asp-for="PoliceVerification" accept="application/pdf,image/*">
                        <label id="pvlable" class="custom-file-label" asp-for="PoliceVerification"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Update Details</button>
                <span id="loaderInfo" name="loaderInfo"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label text-danger">Photo field supports image file only and Agreement, Affidavit & Police Verification support PDF files. </label>
        </div>
    </form>
</div>

<script type="text/javascript">
    function LoadStateDdl() {
        $.getJSON("@Url.Action("StateList", "Home", new { id = 96 })", function (data) {
            //$("#ddlState").find("option:gt(0)").remove();
            $("#StateName").empty();
            $('#StateName').append('<option value="">Select State</option>');
            $.each(data, function (index, value) {
                $('#StateName').append('<option value="' + value.Id + '">' + value.RegionName + '</option>');
            });
            $("#StateName").val("@Model.StateName");
            LoadCityDdl();
        });
    }

    function LoadCityDdl() {
        var sid = $('#StateName option:selected').val();
        $("#loaderInfo").html("LOADING");
        $.getJSON("@Url.Action("CityList", "Home")" + "?id=" + sid, function (data) {
            $("#City").empty();
            $('#City').append('<option value="">Select City</option>');
            $.each(data, function (index, value) {
                $('#City').append('<option value="' + value.CityName + '">' + value.CityName + '</option>');
            });
            $("#City").val("@Model.City");
        });
        $("#loaderInfo").html('');
    }



    $(function () {
        LoadStateDdl();

        $("#photo").change(function () {
            $("#photolable").html(this.files[0].name).removeClass('hide');
        });
        $("#agreement").change(function () {
            $("#agreementlable").html(this.files[0].name).removeClass('hide');
        });
        $("#affidavit").change(function () {
            $("#affidavitlable").html(this.files[0].name).removeClass('hide');
        });
        $("#policeverification").change(function () {
            $("#pvlable").html(this.files[0].name).removeClass('hide');
        });
        $("#gender").css("pointer-events","none");
        $("#StateName").css("pointer-events","none");
        $("#City").css("pointer-events","none");
    });

</script>

