@{
    Layout = "_LayoutSysAdmin";
    ViewData["title"] = "Admin Dashboard - Monthly Summary Report";
    if (Context.Session.TryGetValue("Controller", out byte[] cont))
    {
        var st = System.Text.Encoding.UTF8.GetString(cont);
        ViewData["Controller"] = st;
    }
}

<form id="frmReport" method="post" action="#">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="form-label">From Date<span class="text-danger">*</span></label>
                    <input name="txtReportFromDate" id="txtReportFromDate" type="text" class="form-control flatpickr-date required">
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">To Date<span class="text-danger">*</span></label>
                    <input name="txtReportToDate" id="txtReportToDate" type="text" class="form-control flatpickr-date required">
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="MonthData();">Load Report</button>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="Export();">Export</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header alert-primary" id="lblReport">
            Report
        </h6>
        <div class="card-datatable table-responsive">
            <table class="table table-striped table-bordered" id="datatable-adminreport" data-url="">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery.getDateRangeTitles = function(startDate, endDate) {
        var start = new Date(startDate);
        var end = new Date(endDate);
        
        var current = new Date(start);
        var titles = [`'OrderNo'`, `'RetailerName'`, `'Master'`, `'MasterOfMaster'`, `'Mobile'`, `'Address'`, `'City'`];
        while (current <= end) {
            var year = current.getFullYear();
            var month = (current.getMonth() + 1).toString().padStart(2, '0');
            var day = current.getDate().toString().padStart(2, '0');            
            var dateString = `${year}-${month}-${day}`;
            titles.push(`'${dateString}'`);
            current.setDate(current.getDate() + 1);
        }
        return titles.join(', ');
    };
    $.getDateRangeTitles = jQuery.getDateRangeTitles;
    
    function MonthData(){
        $("#lblReport").html('');
        var startDate = $('#txtReportFromDate').val();
        var endDate =  $('#txtReportToDate').val();
        var result_0 = $.getDateRangeTitles(startDate, endDate);
        var jsonArray = result_0.split(',').map(function(item) {
          return item.trim().replace(/^'|'$/g, '');
        });
        var columns = $.map(jsonArray, function(columnName) {
          return { data: columnName, title: columnName };
        });
        
        //console.log(columns);
        
        if ($.fn.DataTable.isDataTable('#datatable-adminreport')) {
            $('#datatable-adminreport').DataTable().destroy();
        }
        $('#datatable-adminreport tbody').empty();
        $('#datatable-adminreport thead').empty();

        var $table = $('#datatable-adminreport');
        $table.dataTable({
            iDisplayLength: 15,
            bAutoWidth: false,
            sAjaxSource: '@Url.Action("GetMonthlySummaries", @ViewData["controller"].ToString())?startDate=' + startDate + '&endDate=' + endDate + "&x=0",
            cache: false,
            order: [[1, "asc"]],
            columns: columns,
            columnDefs: [
              { defaultContent: "0", targets: "_all" }
            ]
        });
    }
    

    function Export() {
        $("#lblReport").html('Working...');
        var startDate = $('#txtReportFromDate').val();
        var endDate =  $('#txtReportToDate').val();
        $.get('@Url.Action("GetMonthlySummaries", @ViewData["controller"].ToString())?startDate=' + startDate + '&endDate=' + endDate + '&x=1', function (data) {
            $("#lblReport").html('Day wise sales summary report between ' + $('#txtReportFromDate').val() + ' and ' + $('#txtReportToDate').val() + ' <span class="text-facebook">' + data + '</span>');
        });
    }

</script>